.call-to-action {
    position: relative;
    display: grid;
    gap: 1em;
    padding: 2em 0 1.5em 0;
    justify-content: center;
    justify-items: center;
    overflow-y: hidden;
    content-visibility: auto;

    & .colorful-social-links {
        display: flex;
        justify-content: center;
        gap: 1em;

        width: 14em;
        justify-self: center;
    }

    & .contact-info {
        display: grid;
        justify-items: center;
        gap: .5em;

        text-align: right;

        & .contact-icon-container {
            display: flex;
            align-items: center;
            width: 20px;

            & .contact-icon {
                margin-block-start: .2em;
                filter: var(--filter-dark-green)
            }
        }
    }

    & .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--color-gold);
        border-radius: 50%;

        width: 50px;
        height: 50px;

        & .icon {
            width: 40px;
            height: 40px;
        }
    }

    & .icon {
        filter: var(--filter-oil-green);
    }
}