.call-to-action {
    position: relative;
    display: grid;

    gap: 1em;
    padding: 2em 0 1.5em 0;
    justify-content: center;
    justify-items: center;
    overflow-y: hidden;
    content-visibility: auto;

    background: var(--background);

    & .colorful-social-links {
        display: flex;
        justify-content: center;
        gap: 1em;

        width: 14em;
        justify-self: center;
    }

    & .contact-info {
        display: grid;
        justify-items: center;
        gap: .5em;

        text-align: right;

        & .contact-icon-container {
            display: flex;
            align-items: center;
            width: 20px;

            & .contact-icon {
                margin-block-start: .2em;
                filter: var(--filter-dark-green)
            }
        }
    }

    & .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--color-gold);
        border-radius: 50%;

        width: 50px;
        height: 50px;

        & .icon {
            width: 40px;
            height: 40px;
        }
    }

    .icon-container:hover {
        transition: .3s ease-in-out;
        background-color: var(--color-gold-light);
    }
}

/* @keyframes sideShake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-4px);
    }

    40% {
        transform: translateX(4px);
    }

    60% {
        transform: translateX(-4px);
    }

    80% {
        transform: translateX(4px);
    }

    100% {
        transform: translateX(0);
    }
}

.whatsapp-shake {
    animation: sideShake 1.8s ease-in-out infinite;
    transform-origin: center;
} */