.accessibility-wrapper {
    position: fixed;
    bottom: 70px;
    left: 0;
    width: 20px;

    padding: 8px;

    background-color: var(--color-dark-green-2);
    z-index: 100;
    opacity: .5;
    cursor: pointer;

    & .accessibility-icon {
        filter: var(--filter-white);
    }

    &:hover {
        opacity: 1;
    }
}

.accessibility-menu {
    position: fixed;
    bottom: 115px;
    left: 10px;

    display: grid;
    gap: .8em;

    padding: 1em 2em;
    border-radius: 1em;

    text-align: right;
    background-color: var(--light-background);
    color: var(--color-dark-green-2);

    transform: translateX(-200px);
    transition: .8s ease;
    z-index: 100;

    & .accessibility-options {
        display: grid;

        & li:hover {
            cursor: pointer;
        }
    }
}

.show-menu {
    transform: translateX(0);
}