@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --background: #9B9472;
  --font: #696B4C;

  --foreground: #ededed;
  --light-background: #fff;
  --light-background-2: #F2EFEB;
  --natural-background: #EBE5DE;

  --color-gold: #D7BB83;
  --color-gold-light: #f8dda7;
  --color-haki: #9B7C4B;
  --color-brown: #712D2D;
  --color-green: #8ed6a6;
  --color-peach: #F6A594;
  --clr-btn: #F6A594;
  --clr-btn-clear: #c3c3c3;

  --color-oil-green: #696B4C;
  --color-dark-green: #565746;
  --color-dark-green-2: #4E5130;
  --color-light-green-1: #C2C2AA;
  --color-light-green-2: #E1E2D2;
  --color-beige: #D2C9C2;
  --color-brown-1: #8E705D;


  --filter-white: brightness(0) saturate(100%) invert(100%) sepia(86%) saturate(261%) hue-rotate(211deg) brightness(113%) contrast(86%);
  --filter-oil-green: brightness(0) saturate(100%) invert(39%) sepia(35%) saturate(312%) hue-rotate(25deg) brightness(96%) contrast(90%);
  --filter-gold: brightness(0) saturate(100%) invert(81%) sepia(16%) saturate(804%) hue-rotate(2deg) brightness(94%) contrast(85%);
  --filter-dark-green: brightness(0) saturate(100%) invert(34%) sepia(16%) saturate(451%) hue-rotate(24deg) brightness(92%) contrast(91%);
  --filter-brown-1: brightness(0) saturate(100%) invert(53%) sepia(11%) saturate(1036%) hue-rotate(340deg) brightness(83%) contrast(89%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #444;
    --foreground: #ededed;
  }
} */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: 'Assistant', sans-serif;
  text-align: center;
  background-color: var(--natural-background);
}

hr {
  width: 100%;
  opacity: .3;

}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  .about & {
    font-size: 2rem;
    margin-block-end: .2em;
  }
}

h2 {
  font-size: clamp(1.5rem, 2.5vw, 2rem);

  .about & {
    font-size: 1.2rem;
    margin-block-end: .1em;
  }

  .activities &,
  .calculator & {
    color: var(--color-gold);
  }

  .workshop-description & {
    margin-block-end: .5em;
  }

  .meetings & {
    align-self: center;
    margin-block-start: 2em;
    font-size: clamp(1.5rem, 2.5vw, 2rem);

  }
}

h3 {
  .activity & {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;
    color: var(--foreground);

    z-index: 1;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;

  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
}

img {
  display: block;
  width: 100%;
}

p {
  margin: 0;
  justify-self: center;

  .activities-description & {
    line-height: 1.6;
    font-size: 1.3rem;
  }

  .workshop-description & {
    line-height: 1.6;
    font-size: 1.3rem;
  }

  .intro & {
    width: clamp(13em, 30vw, 22em);
    margin: auto;
  }

  &.workshop-description {
    word-wrap: break-word;
    padding-block-start: 1em;
    width: 14em;

    font-size: 1.1rem;
    text-align: right;
  }

  .meeting-description & {
    width: 16em;
    line-height: 1.5;
    font-size: 1.1rem;
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
  }

  &.calculator-description {
    width: 14em;
    line-height: 1.5;
    font-size: 1.3rem;
    width: clamp(14em, 25vw, 22em);
  }

  .call-to-action & {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .number-card & {
    width: 14em;
    line-height: 1.5;
  }

  &.contact-details {
    display: flex;
    gap: .5em;
    justify-self: start;
  }

  &.all-rights-reserved {
    width: 14em;
    font-size: 1rem;
    padding-block-start: .5em;
  }

  &.p-regular {
    width: 12em;
  }

  &.built-by {
    font-weight: 550;
  }
}

.app-container {
  display: grid;


  color: var(--foreground);
}

main.main-layout {
  margin-inline: auto;
}

.main-layout {
  display: grid;
  max-width: 1100px;
  grid-template-columns: minmax(10px, 1fr) minmax(0, 900px) minmax(10px, 1fr);
}

.main-layout>* {
  grid-column: 2;
}

.main-layout>*.full {
  grid-column: 1/-1;
}

.cover-img {
  background-image: url('https://res.cloudinary.com/dvykycdey/image/upload/f_webp/v1745910915/cover-img_small_z9c5am.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 33vh;
  position: relative;
}

.rtl {
  direction: rtl;
}

.large {
  font-size: 1.3rem;
}

.gold {
  color: var(--color-gold);
}

.btn {
  position: relative;
  padding: .5em 1.3em;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  border: none;

  font-family: inherit;
  color: var(--foreground);
  background-color: var(--color-dark-green);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: .5s ease;
  cursor: pointer;

  & svg {
    margin-block-start: .4em;
  }

  &.btn-schedule-meeting {
    background-color: var(--color-light-green-1);
    color: var(--color-dark-green-2);
    margin-block-start: 1.7em;

    &:hover {
      background-color: var(--color-gold-light);
      /* transform: scale(1.02); */
    }
  }

  &.btn-schedule-workshop {
    &:hover {
      background-color: var(--color-gold);
      /* transform: scale(1.02); */
    }
  }

  &.btn-clear {
    background-color: var(--clr-btn-clear);
    color: var(--light-background);
  }

  &.btn-form {
    background-color: var(--color-dark-green);
    color: var(--light-background);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}