@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --background: #444;
  --foreground: #ededed;
  --light-background: #fff;
  --light-background-2: #F2EFEB;
  --box-shadow: #ededed;
  /* --icon-color: rgb(217, 186, 192); */
  --icon-color: #F6A594;
  --color-gold: #D7BB83;
  --color-haki: #9B7C4B;
  --color-brown: #712D2D;
  --color-green: #8ed6a6;
  --color-peach: #F6A594;
  --clr-btn: #F6A594;
  --clr-btn-clear: #c3c3c3;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #444;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: 'Assistant', sans-serif;
  text-align: center;
}

hr {
  width: 100%;
  opacity: .4;

}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  .about & {
    font-size: 2rem;
    margin-block-end: .3em;
  }
}

h2 {
  .about & {
    font-size: 1.2rem;
    margin-block-end: .2em;
  }

  .activities &,
  .calculator & {
    color: var(--color-gold);
  }

  .workshop-description & {
    margin-block-end: .5em;
  }

  .meetings & {
    align-self: center;
    margin-block-start: 2em;
  }
}

h3 {
  .activity & {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 80%;
    color: var(--foreground);

    z-index: 1;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

p {
  width: 12em;
  margin: 0;
  justify-self: center;

  .activities & {
    line-height: 1.6;
    font-size: 1.3rem;
    margin: auto;
    width: 13em;
  }

  &.workshop-description {
    width: 10em;
    word-wrap: break-word;
    padding-block-start: 1em;
  }

  .meeting-description & {
    width: 16em;
    line-height: 1.5;
    font-size: 1.1rem;
  }

  &.calculator-description {
    width: 13em;
    line-height: 1.5;
    font-size: 1.3rem;
  }

  .call-to-action & {
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .number-card & {
    width: 14em;
    line-height: 1.5;
  }

  &.contact-details {
    display: flex;
    gap: .5em;
  }

  &.all-rights-reserved {
    width: 14em;
    font-size: 1rem;
    padding-block-start: .5em;
  }
}

.app-container {
  display: grid;
  justify-content: center;
  width: 100%;
}

.main-layout {
  display: grid;
  grid-template-columns: minmax(10px, 280px) minmax(auto, 1800px) minmax(10px, 280px);
}

.main-layout>* {
  grid-column: 2;
}

.main-layout>*.full {
  grid-column: 1/-1;
}

.cover-img {
  background-image: url('https://res.cloudinary.com/dvykycdey/image/upload/f_webp/v1745910915/cover-img_small_z9c5am.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: 500px;
}

.rtl {
  direction: rtl;
}

.large {
  font-size: 1.3rem;
}

.gold {
  color: var(--color-gold);
}

.btn {
  position: relative;
  padding: .5em 1.3em;
  border-radius: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  border: none;

  font-family: inherit;
  color: var(--color-brown);
  background-color: var(--color-peach);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  & svg {
    margin-block-start: .4em;
  }

  &.btn-clear {
    background-color: var(--clr-btn-clear);
    color: var(--light-background);
  }

  &.btn-form {
    background-color: var(--color-gold);
    color: var(--light-background);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 767px) {
  .cover-img {
    height: 250px;
  }
}