.about {
    position: relative;
    background-color: var(--background);

    & .about-content {
        display: grid;
        justify-content: center;
        text-align: center;
        gap: 1.8em;

        margin-block-start: 10.5em;
        padding-block-end: 2.5em;
    }

    & .save-to-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5em;

        padding: .7em;
        margin-block-start: .5em;

        border-radius: 30px;
        background-color: var(--color-oil-green);
        transition: .5s ease;

        & .plus-icon,
        & .calculator-icon {
            width: 24px;
            filter: var(--filter-white);
        }

        &:hover {
            background-color: var(--color-dark-green);
        }
    }

    & .icon-wrapped:hover {
        transition: .2s ease-in-out;
        background-color: var(--color-gold-light);
    }

    & .actions {
        display: grid;
        gap: .3em;
    }
}

.profile-img {
    position: absolute;
    right: 50%;
    top: -10px;
    transform: translate(50%, -80%);

    width: 200px;
    height: 200px;

    border-radius: 50%;
    border: 2px solid #ffffff86;
    overflow: hidden;

    box-shadow: 0 5px 13px #0000005e;
    transition: 1.8s ease-in-out;
    opacity: 0;
}

.profile-img.visible {
    opacity: 1;
    transform: translate(50%, -25%);
}