.about {
    position: relative;


    & .about-content {
        display: grid;
        justify-content: center;
        text-align: center;
        gap: 1.8em;

        margin-block-start: 10.5em;
        padding-block-end: 3em;
    }

    & .save-to-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5em;

        padding: 1em;
        margin-block-start: .5em;

        border-radius: 30px;
        background-color: var(--color-oil-green);

        & .plus-icon {
            width: 30px;
            filter: var(--filter-white);
        }
    }
}

.profile-img {
    position: absolute;
    right: 50%;
    top: -10px;
    transform: translate(50%, -80%);

    width: 200px;
    height: 200px;

    border-radius: 50%;
    border: 2px solid #ffffff86;
    overflow: hidden;

    box-shadow: 0 5px 13px #0000005e;
    transition: 1.8s ease-in-out;
    opacity: 0;
}

.profile-img.visible {
    opacity: 1;
    transform: translate(50%, -25%);
}