.about {
    position: relative;

    & .about-content {
        display: grid;
        justify-content: center;
        text-align: center;
        gap: 1em;

        margin-block-start: 11em;
        padding-block-end: 2em;
    }
}

.profile-img {
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);

    width: 200px;
    height: 200px;

    border-radius: 50%;
    overflow: hidden;

    box-shadow: 0 5px 13px #000;
    transition: 1s ease-in-out;
    opacity: 0;
}

.profile-img.visible {
    opacity: 1;
    transform: translate(50%, -25%);
}