.calculator {
    display: grid;
    gap: 1em;
    padding: 2em 0 2.8em 0;
    background: var(--light-background-2);
    color: var(--background);
    content-visibility: auto;

    & .date {
        display: grid;
        gap: .8em;
        padding-block-start: 1em;
    }

    & .calculator-icon-container {
        display: grid;
        justify-content: center;
    }
}