.calculator {
    display: grid;
    gap: 1em;
    padding: 2em 0;
    background: var(--light-background-2);
    color: var(--background);

    & .date {
        display: grid;
        gap: .8em;
        padding-block-start: 1em;

        & .calculator-icon {
            filter: brightness(0) saturate(100%) invert(19%) sepia(11%) saturate(3322%) hue-rotate(315deg) brightness(109%) contrast(90%);
        }
    }

    & .calculator-icon-container {
        display: grid;
        justify-content: center;
    }
}