.social-link-list {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    row-gap: 3em;
    column-gap: 1em;
    justify-self: center;
    justify-items: center;

    & li {
        text-align: center;

        & .icon-container {
            display: grid;
            justify-items: center;
            gap: .5em;
        }
    }


    & .icon-wrapped {
        position: relative;
        border-radius: 50%;
        justify-self: center;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 55px;
        height: 55px;

        background-color: var(--color-gold);
        transition: .5s ease;

        & .social-icon {
            width: 45px;
            height: 45px;
        }
    }

}