.social-link-list {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 3em;
    justify-self: center;
    justify-items: center;

    & li {
        display: flex;
        text-align: center;
    }

    & .icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        justify-self: center;

        filter: brightness(0) saturate(100%) invert(78%) sepia(61%) saturate(1845%) hue-rotate(299deg) brightness(114%) contrast(112%);
        transition: .5s ease;
    }

}