.social-link-list {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    gap: 3em;
    justify-self: center;
    justify-items: center;

    & li {
        text-align: center;

        & .icon-container {
            display: grid;
            justify-items: center;
        }
    }


    & .icon-wrapped {
        position: relative;
        border-radius: 50%;
        justify-self: center;

        display: flex;
        align-items: center;
        width: 55px;
        height: 55px;

        background-color: var(--color-gold);
        transition: .5s ease;

        & .social-icon {
            filter: var(--filter-oil-green)
        }
    }

}