.number-card {
    position: relative;
    display: grid;
    justify-self: center;
    gap: 1em;
    padding: 1.4em;
    margin-block-start: 2em;

    border-radius: 1em;

    background-color: var(--light-background);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 0;
}

.number-card::before {
    content: 'ורד בן דוד';
    position: absolute;
    opacity: .1;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);

    font-size: 4rem;
    font-weight: 600;
    width: 5em;

    z-index: -1;
}