.activities {
    position: relative;
    display: grid;
    padding: 2em 0 3em 0;
    gap: 2em;

    background: var(--light-background-2);
    color: var(--background);

    text-align: center;

    & .activities-list {
        display: grid;
        justify-content: center;
        align-items: center;
        position: relative;

        & li {
            position: relative;
            display: grid;
            width: 100%;
        }
    }

    & .activities-icon-list {
        display: grid;
        grid-template-columns: 100px 100px;
        justify-content: center;
        row-gap: 2em;
        column-gap: 2em;

        &>*:nth-last-child(1) {
            grid-column: 1/-1;
            justify-self: center;
        }

        & li {
            display: grid;
            grid-template-rows: 70px;
            gap: .3em;

            /* *>:nth-child(odd) {
                filter: brightness(0) saturate(100%) invert(78%) sepia(54%) saturate(264%) hue-rotate(358deg) brightness(91%) contrast(84%);
            } */
        }
    }

    & .btn-schedule-workshop {
        justify-self: center;
        font-weight: 600;
    }

    /* & .wave {
        grid-column: 1/-1;
        position: absolute;
        top: -60px;
        left: 0;
        width: 100%;
        height: 100px;
        z-index: -1;
        pointer-events: none;
    } */
}

.img-wrapper {
    position: relative;
    width: 260px;
    height: 260px;

    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.555);

    &:hover {
        transform: scale(1.02) rotateZ(0.5deg);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
}

.workshop-img {
    object-fit: cover;
    filter: brightness(1.1);
    cursor: pointer;
}

.img-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;

    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.4) 0%,
            /* dark at top */
            rgba(0, 0, 0, 0) 0%,
            /* fade out */
            rgba(0, 0, 0, 0) 40%,
            /* stay transparent */
            rgba(0, 0, 0, 0.578) 80%
            /* dark at bottom */
        );
    pointer-events: none;
}

@media (max-width: 767px) {
    .activities-list {
        grid-auto-rows: 300px;
        grid-template-columns: 260px;
    }
}

@media (min-width: 768px) {
    .activities-list {
        grid-auto-rows: 300px;
        grid-template-columns: repeat(2, 260px);
        gap: 4em;
    }
}