.activities {
    position: relative;
    display: grid;
    padding: 2em 0 3em 0;
    gap: 2em;

    background-color: var(--light-background-2);
    color: var(--color-dark-green);

    text-align: center;
    content-visibility: auto;

    & .activities-icon-list {
        display: grid;
        grid-template-columns: 100px 100px;
        justify-content: center;
        justify-self: center;
        row-gap: 2em;
        column-gap: 2em;

        &>*:nth-last-child(1) {
            grid-column: 1/-1;
            justify-self: center;
        }

        & .activities-icon {
            filter: var(--filter-brown-1)
        }

        & li {
            display: grid;
            justify-items: center;
            grid-template-rows: 70px;
            gap: .3em;
        }
    }

    & .btn-schedule-workshop {
        justify-self: center;
        font-weight: 600;
    }
}

@media (max-width: 767px) {
    .activities-description {
        gap: 1em;
    }
}